@using WebClient.Store.User
@using WebClient.Views.Layouts.MainLayout
@using WebClient.Views.Components.CircleSpinner
@using WebClient.Views.Components.OneLineInput
@using Blazorise

@inherits WebClient.Views.Components.ReduxComponent<UserState>

@if(ComponentState.Value.Initialized)
{
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <WebClient.Views.Components.OneLineInput.OneLineInput>
                Page not found
            </WebClient.Views.Components.OneLineInput.OneLineInput>
        </NotFound>
    </Router>
}
else
{
    <div class="loading">
        <CircleSpinner Size="10vmin" />
    </div>
}
