bin/
obj/
/packages/

# env configuration
.env

# docker-conf
.docker-conf/rabbitmq/data/*
.docker-conf/users-db/*
.docker-conf/tasks-db/*

# editor
.idea
riderModule.iml
/_ReSharper.Caches/
.vscode
*.DotSettings.user
