<span>
    <span class="slash">&gt;</span>
    <span class="text">@_currentText</span>
    <span class="cursor" style=@($"--blink-interval: {2 * CursorBlinkInterval.Milliseconds}ms")>_</span>
</span>
