.layout,
::deep form,
.create-task-layout {
    height: 100%;
}

.layout,
.create-task-layout,
.create-task-layout div {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

@media screen and (max-width: 800px) {
    .markdown {
        padding-bottom: 25px;
    }
}

@media screen and (min-width: 800px) {
    .create-task-layout {
        flex-direction: row;
        gap: 25px;
    }

    .inputs {
        flex-basis: 300px;
        overflow: auto;
    }

    .markdown {
        flex-grow: 1;
    }

    ::deep .markdown > :first-child {
        flex-basis: 100%;
        overflow: auto;
    }
}
