button {
    appearance: none;
    -webkit-appearance: none;
    border: 2px solid;
    border-color: var(--control);
    border-radius: 5px;
    padding: 5px 15px;
    width: max-content;
}

button:hover,
button:focus {
    border-color: var(--text);
}

.dropdown-toggle {
    width: 100%;
}

.content {
    flex-basis: 100%;
}

ul {
    background-color: var(--background-alt);
}

.dropdown-divider {
    border-top-color: var(--text);
}

::deep .dropdown-item {
    color: var(--text) !important;
}

::deep .select {
    display: none;
}

.select-button {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.dropdown-menu {
    max-height: 30vh;
    overflow-y: auto;
}
