@layout Layouts.SignLayout.SignLayout
@using Microsoft.AspNetCore.Components.Forms
@using WebClient.Views.Components
@using WebClient.Typing

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public EditContext Context { get; set; }

    [Parameter]
    public EventCallback<EditContext> OnSubmit { get; set; }
}

<div class="layout">
    <div class="main">
        <EditForm EditContext="@Context" OnValidSubmit="@OnSubmit">
            <DataAnnotationsValidator />
            <div class="form">
                @ChildContent
            </div>
        </EditForm>
    </div>
</div>
