.layout {
    display: grid;
    align-items: stretch;
    justify-items: stretch;
    height: 100%;
}

.main {
    display: grid;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-items: center;
    padding: 0 10%;
}

.main .form {
    display: flex;
    gap: 15px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
}

::deep h1 {
    text-align: center;
}

::deep .main form hr {
    width: 80%;
    border: none;
    border-top: var(--control) solid 2px;
}

.main button {
    --surface: var(--background);
}
