button {
    background: transparent;
    outline: none;
    border: 2px solid;
    border-color: var(--control);
    border-radius: 5px;
    color: var(--text);
    font-size: var(--text-size);
    font-family: var(--text-font);
    font-weight: bolder;
    letter-spacing: 3px;
    padding: 2px 7px;
    transition: 0.25s ease-in-out;
    transition-property: color border-color opacity;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

button:hover,
button:focus {
    border-color: var(--text);
}
