input {
    border: 2px solid;
    border-color: var(--control);
    border-radius: 5px;
    padding: 5px 15px;
}

input:hover,
input:focus {
    border-color: var(--text);
}

input.modified.valid:focus {
    --text: var(--success-text);
    --control: var(--success-control);
}
.invalid {
    --text: var(--error-text);
    --control: var(--error-control);
}
